// index.js or main.js
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@import '~vuetify/dist/vuetify.min.css';

@import './here/mapsjs-ui.css';


.v-toolbar.v-toolbar--fixed.main-bottom{
  bottom: 0px;
  top:auto;
  background: url('/images/icons/line.svg') no-repeat;
  box-shadow: none;
  background-size: auto 100%;
  background-position: 50% 0px;
}

.main-bottom .v-toolbar__content{
  padding: 0px 0px;
}

.v-toolbar.v-toolbar--fixed{

}

.v-content_nopadding{
  padding: 0px;
}

.v-toolbar__items{
  width: 100%;
}
.v-toolbar__button__one-four{
  width: 20%;
  padding: 0px;
  min-width: 20%;
}

.inner_map_object{
  background: #D500F9;
  color: white;
  font-weight: bold;
  padding: 7px 0px 5px;
  border-radius: 100%;
  width: 33px;
  text-align: center;
}

.hidden_fucking_element{
  display:none;
}

.place_chips_fixed{
  position: fixed;
  z-index: 100;
}

.list-text-message-right{
  align-items: flex-end;
}

.v-list__tile--avatar{
  min-height: 56px;
  height: auto;
}


.chat-form-texarea{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  z-index: 1000;
}

.chat-form-padding{
  padding-top: 56px;
  padding-bottom: 69px;
}


.toolbar_svg_icon{
  width: 48px;
}


.toolbar_svg_icon path {
  fill: #000;
}
