<template lang="html">
  <v-card class="elevation-0">
      <v-toolbar
        card
        color="pink"
        dark
        fixed
        class="card-top"
      >
        <v-btn flat icon :to='{name:"history"}'>
          <v-icon >arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title v-if='chatUser'>
          {{chatUser.name}}
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-form class="chat-form-padding" v-if='chatUser'>
        <v-list >
           <template v-for="(item, index) in messages">
             <v-list-tile
               :key="item.id"
               avatar
               @click=""

               v-if='item.from_guest == user.id'
             >
             <v-list-tile-avatar >
               <img :src="user.avatar">
             </v-list-tile-avatar>

             <v-list-tile-content >
               {{item.message}}
             </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
                :key="item.id"
                avatar
                @click=""
                class="blue lighten-5"
                v-else
              >
              <v-list-tile-content class='list-text-message-right'>
                {{item.message}}
              </v-list-tile-content>
              <v-list-tile-avatar>
                <img :src="chatUser.avatar">
              </v-list-tile-avatar>
            </v-list-tile>
            <v-divider></v-divider>
           </template>
         </v-list>
      </v-form>
  </v-card>
</template>

<script>
export default {
  data:()=>{
    return {
      message: "",
      messages: [],
      chatUser: null,
      interval: false
    };
  },
  methods:{
    loadMessages(){
      axios.get('https://192.168.1.60:8000/guests/'+this.chatUserId)
        .then((responce)=>{
          this.chatUser = responce.data;
        })

      axios.get('https://192.168.1.60:8000/guest_chat/from'+this.user.id+'/to'+this.chatUserId)
        .then((responce)=>{
          this.messages = responce.data;
        })
    }
  },
  beforeRouteLeave:function(to, from, next) {
    clearInterval(this.interval);
    next();
  },
  mounted:function(){

    this.loadMessages();
    this.interval = setInterval(this.loadMessages, 3000);
  },
  computed:{
    user:function(){
      return this.$store.getters.getUser;
    },
    chatUserId:function(){
      return this.$route.params.id;
    }
  }
}
</script>
