<template>
  <div fluid>
    <v-list subheader>
      <v-subheader>История сообщений</v-subheader>
      <v-divider></v-divider>
      <v-list-tile
        v-for="item in users"
        :key="item.id"
        avatar
        :to='{name:"history-detail",params: { id: item.id }}'
      >
        <v-list-tile-avatar>
          <img :src="item.avatar">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="item.name"></v-list-tile-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-icon :color="item.active ? 'teal' : 'grey'">chat_bubble</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
export default {
  data:()=>{
    return {
      users: []
    };
  },
  computed:{
    currentUser:function(){
      return this.$store.getters.getUser;
    }
  },
  mounted:function(){
    if(this.currentUser){
      axios.get('https://192.168.1.60:8000/history_chat/'+this.currentUser.id+'/')
        .then((responce)=>{
          this.users = responce.data;
        })
    }
  }
}
</script>
