<template lang="html">
  <v-container fluid grid-list-xl>
    <v-layout >
      <v-flex xs12 >
        <v-select
            :items="users"
            label="Авторизовать как"
            solo
            v-model='user'
            item-value="id"
            item-text="name"
          ></v-select>
      </v-flex>
    </v-layout>
    <v-layout >
      <v-flex xs12 >
        <v-btn color="success" block large :disabled="!user" @click='authUser'>Авторизовать</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data:()=>{
    return {
      users:[],
      user:false,
    }
  },
  mounted:function(){
    this.loadUsers();
  },
  methods:{
    authUser:function(){
      var current = _.find(this.users, (item)=>{
        return item.id == this.user;
      })
      this.$store.commit('saveUser', _.clone(current));
      this.$router.push({name: 'mainmap'})
    },
    loadUsers:function(){
      axios.get('https://192.168.1.60:8000/guests/')
        .then((responce)=>{
          this.users = responce.data;
        })
    }
  }
}
</script>
