<template>
  <v-layout fill-height :style="getStyle">
    <div ref='mapContainer' style='width: 100%; height: 100%;'>
    </div>
  </v-layout>
</template>

<script>
export default {
  data:function(){
    return  {
      height:Math.max(document.documentElement.clientHeight, window.innerHeight || 0),
      mapObj:false,
      user:false,
    };
  },
  beforeRouteLeave (to, from, next) {
    this.mapObj.dispose();
    while (this.$refs.mapContainer.firstChild) {
        this.$refs.mapContainer.removeChild(this.$refs.mapContainer.firstChild);
    }
    this.mapObj = null;
    next()
  },
  watch:{
    '$route': 'initMap',
    position:function(current, prev){
      if(prev===false && current){
        this.loadGeoData();
      }

      if(this.position && this.mapObj){

        this.mapObj.setCenter({
          lat : this.position.coords.latitude,
          lng : this.position.coords.longitude,
        });
        this.user.setPosition({
          lat : this.position.coords.latitude,
          lng : this.position.coords.longitude,
        });
      }
    }
  },
  mounted:function(){
    this.initMap();
  },
  methods:{
    initMap:function(){
      if(this.position){
        this.loadGeoData();
      }
      // Initialize the platform object:
      var platform = new H.service.Platform({
      'app_id': 'UmUMjceKYY8fQKx0lpgV',
      'app_code': '44XNhRUXpOfuEJhK_87VBA',
      'useHTTPS': true,
      });

      // Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();
      var coords = {lng: 13.4, lat: 52.51};
      if(this.position){
        coords.lng = this.position.coords.longitude;
        coords.lat = this.position.coords.latitude;
      }
      // Instantiate (and display) a map object:
      var map = new H.Map(
        this.$refs.mapContainer,
        maptypes.normal.map,
        {
          zoom: 16,
          center:coords
        }
      );

      var ui = H.ui.UI.createDefault(map, maptypes);

      var mapEvents = new H.mapevents.MapEvents(map);
      var mapSettings = ui.getControl('mapsettings');
      var zoom = ui.getControl('zoom');
      var scalebar = ui.getControl('scalebar');;


      var animatedSvg =
      "<svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='-20px' y='-20px' width='40px' height='40px' viewBox='0 0 485.212 485.212' style='enable-background:new 0 0 485.212 485.212;' xml:space='preserve'> <g> <path d='M288.095,45.49c0,25.114-20.377,45.488-45.49,45.488c-25.114,0-45.49-20.374-45.49-45.488 c0-25.113,20.376-45.49,45.49-45.49C267.718,0,288.095,20.376,288.095,45.49z M272.931,121.304h-60.65 c-16.765,0-30.327,13.562-30.327,30.324V272.93h30.327v121.307h60.65V272.93h30.322V151.628 C303.253,134.867,289.691,121.304,272.931,121.304z M303.253,306.482v30.626c70.632,8.354,121.307,30.737,121.307,57.129 c0,33.491-81.473,60.649-181.955,60.649S60.649,427.728,60.649,394.237c0-26.392,50.701-48.775,121.304-57.129v-30.626 c-82.271,9.008-151.628,37.085-151.628,87.755c0,62.838,106.615,90.976,212.28,90.976c105.662,0,212.282-28.138,212.282-90.976 C454.887,343.567,385.53,315.49,303.253,306.482z'/> </g></svg>"

      var icon = new H.map.DomIcon(animatedSvg);
      var userMarker = new H.map.DomMarker(coords, {icon: icon});

      // Add the marker to the map:
      map.addObject(userMarker);
      userMarker.setZIndex(1000);
      this.mapObj = map;
      this.user = userMarker;

      scalebar.setVisibility(false);
      zoom.setVisibility(false);
      mapSettings.setVisibility(false);
      // Instantiate the default behavior, providing the mapEvents object:
      var behavior = new H.mapevents.Behavior(mapEvents);


    },
    loadGeoData:function(){
      axios.get('https://192.168.1.60:8000/userlocations/', {
        params:{
          lng:this.position.coords.longitude,
          lat:this.position.coords.latitude,
          rad:500,
        }
      })
        .then( (response)=>{
          // handle success
          for(var i = 0; i < response.data.length; i++){
            var place = response.data[i];
            var icon = new H.map.DomIcon('<div class="inner_map_object">'+place.guests_count+'</div>');

            var marker = new H.map.DomMarker({
                lng: place.location.longitude,
                lat: place.location.latitude}, {icon: icon});
            this.mapObj.addObject(marker);
          }

        });
    }

  },
  computed:{
    getStyle:function(){
      return { height:  this.height + "px" };
    },

    position () {
      return this.$store.getters.getPosition;
    }

  }
}
</script>
