<template lang="html">
  <v-card class="elevation-0">
      <v-toolbar
        card
        color="pink"
        dark
        fixed
        class="card-top"
      >
        <v-btn flat icon :to='{name:"place"}'>
          <v-icon >arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title>
          {{chatUser.name}}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat icon @click='sendMessage'>
          <v-icon >send</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form class="chat-form-padding">
        <v-list >
           <template v-for="(item, index) in messages">
             <v-list-tile
               :key="item.id"
               avatar
               @click=""

               v-if='item.from_guest == user.id'
             >
             <v-list-tile-avatar >
               <img :src="user.avatar">
             </v-list-tile-avatar>

             <v-list-tile-content >
               {{item.message}}
             </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
                :key="item.id"
                avatar
                @click=""
                class="blue lighten-5"
                v-else
              >
              <v-list-tile-content class='list-text-message-right'>
                {{item.message}}
              </v-list-tile-content>
              <v-list-tile-avatar>
                <img :src="chatUser.avatar">
              </v-list-tile-avatar>
            </v-list-tile>
            <v-divider></v-divider>
           </template>
         </v-list>
        <div class='chat-form-texarea'>
          <v-divider></v-divider>
          <v-textarea

            v-model="message"
            label="Message"
            counter
            maxlength="120"
            full-width
            single-line
          ></v-textarea>
        </div>
      </v-form>
  </v-card>
</template>

<script>
export default {
  data:()=>{
    return {
      message: "",
      messages: [],
      interval: false
    };
  },
  methods:{
    sendMessage(){
      if(this.message.length){
        const params = new URLSearchParams();
        params.append('from', this.user.id);
        params.append('to', this.chatUserId);
        params.append('message', this.message);

        axios.post('https://192.168.1.60:8000/guest_chat/',params)
          .then((responce)=>{
            console.log(responce.data);
            this.message = "";
            this.loadMessages()
          })
      }
    },
    loadMessages(){
      axios.get('https://192.168.1.60:8000/guest_chat/from'+this.user.id+'/to'+this.chatUserId)
        .then((responce)=>{
          this.messages = responce.data;
        })
    }
  },
  beforeRouteLeave:function(to, from, next) {
    clearInterval(this.interval);
    next();
  },
  mounted:function(){

    this.loadMessages();
    this.interval = setInterval(this.loadMessages, 3000);
  },
  computed:{
    user:function(){
      return this.$store.getters.getUser;
    },
    chatUser:function(){
      return this.$store.getters.getPlaceUser(this.chatUserId);
    },
    chatUserId:function(){
      return this.$route.params.id;
    }
  }
}
</script>
