<template>
  <div fluid>
    <v-list subheader>
      <v-subheader v-html='placeData.name'></v-subheader>
      <v-divider></v-divider>
      <v-list-tile
        v-for="item in placeData.guests"
        :key="item.id"
        avatar
        :to='{name:"place-person-chat",params: { id: item.id }}'
      >
        <v-list-tile-avatar>
          <img :src="item.avatar">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="item.name"></v-list-tile-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-icon :color="item.active ? 'teal' : 'grey'">chat_bubble</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
export default {
  data:()=>{
    return {
    };
  },
  computed:{
    place:function(){
      return this.$store.getters.getPlace;
    },
    placeData:function(){
      return this.$store.getters.getPlaceData;
    }
  },
  mounted:function(){

  }
}
</script>
