<template>
  <v-container fluid grid-list-xl>
    <v-layout row jjustify-space-around>
      <v-flex xs6 >
        <v-avatar
          @click="triggerUpload"
          size="120"
          color="grey lighten-4"
        >
          <img :src="getImage" alt="avatar">
        </v-avatar>
        <input type="file" ref="uploader" class="hidden_fucking_element" @change="onFileChange">
      </v-flex>
      <v-flex xs6>
        <v-btn color="success" block large @click='logOut'>Выйти</v-btn>
      </v-flex>
    </v-layout>
    <v-layout fill-height row wrap>

            <v-flex xs12 >
              <v-text-field
                label="Имя"
                v-model="userData.name"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="userData.birth_date"
                persistent
                lazy
                full-width
                width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="userData.birth_date"
                  label="День рождения"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="userData.birth_date" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="modal = false">Отмена</v-btn>
                  <v-btn flat color="primary" @click="$refs.dialog.save(userData.birth_date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data: ()=>{
    return {
      userData:{},
      modal:false,
      image:false,
    };
  },
  mounted:function(){
    this.userData = this.$store.getters.getUser;
  },
  computed:{
    getImage(){
      if(this.image){
        return this.image;
      }
      return this.userData.avatar;
    }

  },
  methods:{
    logOut:function(){
      this.$store.commit('logOut');
      this.$router.push({name: 'mainmap'})
    },
    triggerUpload:function(){
      this.$refs.uploader.click();
    },
    onFileChange:function(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage:function(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
  }
}
</script>
